<HEAD>
<script src="js/libs/jquery-3.1.0.js"></script>

<!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->

<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">  

<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=1.0">
</HEAD>

<style type="text/css">


 html, body  {
  background: blue;
 /* background-image: radial-gradient(circle,rgb(0, 94, 125),gray);*/
  color: #E6E6E6;
}
.playerC{
  background-color:  yellow;
}
.outhouse {

  background: -moz-linear-gradient(top, #6B3B3B 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #6B3B3B 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #6B3B3B 0%, #191919 66%, #000000 100%);

}
.Sfloor{

  background-image: url("images/tile.png");

}
.Ffloor{


  background-image: url("images/tile.png");

}
.outL1Wall{
opacity: 0.6;



}
.outL2Wall{
opacity: 0.6;



}
.Lfloor{


  background-image: url("images/tile.png");

}
.outerwalls {
  background:  yellow;
}
.maindoor {
      background:  yellow;
cursor: pointer;
}
.cabinet {
      background:  green;
cursor: pointer;
}
.citywest {
    background-image: url("images/window1.png");

}
.tower {
  background-image: url("images/tile.png");
}
.towertop{
  background-image: url("images/tile.png");
}

.transmiter {
  background-image: url("images/fence.png");
}
.TransmiterT {

  background:  red;
}
.radio {
  background:  yellow;
}
.chair {
  background:  yellow;
}
.mic {
  background:  gray;
}
.micHead {
  background:  black;
}
.stairs {
  background-repeat: repeat;
  background-image: url("images/tile3.png");
}
.stairswalls {
  background:  yellow;
}

.stairswalls1  {
  background:  red;
}



            #info {
                position: absolute;
                width: 100%;
                color: #000000;
                padding: 5px;
                font-family: Monospace;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                z-index: 1;}
img[src$=".gif"], img[src$=".png"] {
  image-rendering: pixelated;

}

button {

  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #6B3B3B 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #6B3B3B 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #6B3B3B 0%, #191919 66%, #000000 100%);
         width: 100%;
    height: 1.5vw;
    padding: 0.2vw 0.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vw;

    cursor: pointer;
    border-style: double;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}
button:hover {

  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(bottom, #6B3B3B 0%, #191919 56%, #000000 100%);
  background: -webkit-linear-gradient(bottom, #6B3B3B 0%, #191919 56%, #000000 100%);
  background: linear-gradient(to top, #6B3B3B 0%, #191919 56%, #000000 100%);
         width: 100%;
    height: 1.5vw;
    padding: 0.2vw 0.2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vw;

    cursor: pointer;
    border-style: double;
    border-radius: 0.5vw 0.5vw 0.5vw 0.5vw;
}


textarea {
  outline: none;
     width: 100%;
    height: 50%;
   font-size: 80%;
  font-weight: bold;
  color: #E3E3E3;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 56%, #000000 100%);
  border-top: 1px solid #4A4A4A;
    padding: 0.5vw 0.5vw;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8vw;
    margin: 0.25vw 0.5vw;
    cursor: pointer;
    border-style: double;
    border-radius: 0.1vw 0.1vw 0.1vw 0.1vw;
   
    overflow-x: hidden;
}
select {

  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
    padding: 0.5vw 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8vw;
    margin: 0.25vw 0.5vw;
    cursor: pointer;
    border-style: double;
    border-radius: 0.1vw 0.1vw 0.1vw 0.1vw;
}
select:hover {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 56%, #000000 100%);
  border-top: 1px solid #4A4A4A;
    padding: 0.5vw 0.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8vw;
    margin: 0.25vw 0.5vw;
    cursor: pointer;
    border-style: double;
    border-radius: 0.1vw 0.1vw 0.1vw 0.1vw;
}
option {


    background-color: #28666D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    border-style: dotted;
}
#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.35vw;
    border-radius: 0.25vw;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.80vw;
    height: 0.55vw;
    border-radius: 0.15vw;
    background: #28666D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 0.80vw;
    height: 0.55vw;
    border-radius: 0.15vw;
    background: #28666D;
    cursor: pointer;
}
#slidecontainer1 {
  margin-top: 0%;
  left: 50%;
}
.hotspot {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.25vw;
  width: 0.20vw;
  background: green;
  border-radius: 0.25vw;
}













ul {
    list-style-type: none;
    height: 2vw;
    width: 99%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 56%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 56%, #000000 100%);
  border-top: 1px solid #4A4A4A;
        z-index: 5;
        border-style: double;
        border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
}

li {
    float: left;
        z-index: 5;


}

li a, .dropbtn {
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 0.8vw;
    color: white;
    text-align: center;
    padding: 0.6vw 0.8vw;
    text-decoration: none;
        z-index: 5;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #404040;
        z-index: 5;
        

}

li.dropdown {
    display: inline-block;
    z-index: 5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #28666D;
    min-width: 4vw;
    box-shadow: 0vw 0.3vw 0.8vw 0vw rgba(0,0,0,0.2);
    z-index: 10;
    border-style: dotted;
}

.dropdown-content a {
    color: white;
    padding:  0.6vw 0.8vw;
    text-decoration: none;
    display: block;
    text-align: left;
        z-index: 5;
}

.dropdown-content a:hover {background-color: #404040}

.dropdown:hover .dropdown-content {
    display: block;
        z-index: 5;
}
 


able.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;

  background-color: #4A4A4A;
  width: 100%;
  height:  0.5vw;
  text-align: left;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 0.1vw solid #4A4A4A;
    padding: 0.05vw 0.05vw;
    text-align: center;
}







  .terminal {


    background-color: black;
    opacity: 1;
width: 100%;
    height: 100%;

    color: #DFDFDF;

    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    font-size: 14px;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    overflow-y: auto;
    
    &::after {
      content: "|";
      animation: blink 2s steps(1) infinite;
    }
  }
}

.prompt {
  color: red;
}

.path {
  color: rgb(94, 215, 255);
}

@keyframes blink { 50% { color: transparent; } }
@keyframes bounceIn {
  0% {
    transform: translateY(-1000px);
  }
  60% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}


</style>

<body>
<div id="frame"  ondrop="drop(event)" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondragover="allowDrop(event)"></div>
<script src="js/var.js"></script>
<script src="js/interface/panel.js"></script>
<script src="js/interface/mouse.js"></script>
<script src="js/interface/interface_toolGeoshapeCreate.js"></script>
<script src="js/interface/interface_toolsphere.js"></script>
<script src="js/interface/interface_toolcube.js"></script>
<script src="js/interface/shell.js"></script>
<script src="js/interface/interface_toolvectors.js"></script>
<script src="js/interface/interface_toolbox.js"></script>
<script src="js/enviorment/drawing.js"></script>
<script src="js/options/display.js"></script>
<script src="js/enviorment/foundation.js"></script>
<script src="js/enviorment/Xaxis.js"></script>
<script src="js/enviorment/Yaxis.js"></script>
<script src="js/enviorment/perpective.js"></script>
<script src="js/interface/criar.js"></script>
<script src="js/game/level1/outerwalls.js"></script>
<script src="js/game/player.js"></script>
<script src="js/interface/sphere.js"></script>
<script src="js/enviorment/firstfloor.js"></script>
<script src="js/game/level1/secoundfloor.js"></script>
<script src="js/game/level1/lastfloor.js"></script>
<script src="js/game/level1/outerwallsL1.js"></script>
<script src="js/game/level1/house/floor.js"></script>
<script src="js/game/level1/house/barraca.js"></script>
<script src="js/game/level1/house/objects/table.js"></script>
<script src="js/game/level1/house/objects/maindoor.js"></script>
<script src="js/game/level1/house/objects/cabinet.js"></script>
<script src="js/game/level1/house/citywest.js"></script>
<script src="js/game/level1/house/radio.js"></script>
<script src="js/game/level1/house/chair.js"></script>
<script src="js/game/level1/house/mic.js"></script>
<script src="js/game/level1/tower.js"></script>
<script src="js/game/level1/stairs.js"></script>
<script src="js/game/level1/transmiter.js"></script>
<script src="js/scene.js"></script>
<script src="js/enviorment/lighting.js"></script>
<script src="js/interface.js"></script>
<script src="js/functions/functions.js"></script>
<script src="js/movement/colision.js"></script>
<script src="js/conditions/conditions.js"></script>
<script src="js/movement/movement.js"></script>

<script src="js/enviorment/float.js"></script>

<script src="js/enviorment/initscripts.js"></script>
</body>
