<div id='Object-Tjeza' class='geoshape' style='opacity: 1; z-index: 1; position: absolute; left: 0px; top: 0px; height: 0px; width: 0px; transform-style: preserve-3d; transform: perspective(0px) scale3d(0.15, 0.005, 0.19) rotateY(0deg) rotateX(0deg) skewX(0deg) skewY(0deg) translate3d(0px, 0px, 500px) rotate(0deg);'>
<svg width='1001.00' height='1001.00' class='faceclass' id='face-10' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) -1500px -2000px / 0% 0% rgb(255, 0, 0); transform: rotateY(0rad) rotateX(-1.5708rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
<svg width='1001.00' height='1001.00' class='faceclass' id='face00' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) 0px -1000px / 0% 0% rgb(255, 0, 0); transform: rotateY(0rad) rotateX(0rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
<svg width='1001.00' height='1001.00' class='faceclass' id='face01' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) -1000px -1000px / 0% 0% rgb(255, 0, 0); transform: rotateY(1.5708rad) rotateX(0rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
<svg width='1001.00' height='1001.00' class='faceclass' id='face02' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) -2000px -1000px / 0% 0% rgb(255, 0, 0); transform: rotateY(3.14159rad) rotateX(0rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
<svg width='1001.00' height='1001.00' class='faceclass' id='face03' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) -3000px -1000px / 0% 0% rgb(255, 0, 0); transform: rotateY(4.71239rad) rotateX(0rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
<svg width='1001.00' height='1001.00' class='faceclass' id='face10' style='width: 1001px; height: 1001px; margin-left: -500.5px; margin-top: -500.5px; background: radial-gradient(at 0% 0%, rgb(240, 180, 180), rgba(0, 0, 0, 0.6)) -1500px 0px / 0% 0% rgb(255, 0, 0); transform: rotateY(0rad) rotateX(1.5708rad) translateZ(500px); transform-style: preserve-3d; position: absolute; backface-visibility: hidden; overflow: hidden; border: 0px solid rgb(0, 0, 0);'>
</svg>
</svg>
</div>
</div>
